<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>tinycast</title>
    <link rel="icon" href="<%= require('file-loader!../static/logo.svg').default %>">
    <meta name="description" content="little group calls with exceptional audio quality">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="tinycast" />
    <meta property="og:description" content="little group calls with exceptional audio quality" />
    <meta property="og:image" content="https://tinyca.st/<%= require('file-loader!../static/share-img.png').default %>" />
  </head>
  <body>
  </body>
</html>
